.case {
  display: flex;
  flex-wrap: wrap;
}
.case__image {
  margin-bottom: 50px;
  width: 100%;
}
.case__header {
  width: 50%;
  font-family: $sans-serif;
}
.case__title {
  font-size: 3rem;
  margin: 0;
}
.case__info {
  color: $text-light;
  font-size: 0.9rem;
}
.case__text {
  width: 50%;
  margin: 0;
}
