.button {
	text-decoration: none;
	border-radius: 10px;
	padding:10px 20px;
	background: $main;
	color: white;
	font-family: $sans-serif;
	font-weight: bold;
}
.button--invert {
	background: white;
	color: $main;
}
.button--invert:hover,
.button--invert:active,
.button--invert:focus {
	color: darken($main, 10%);
}
