.case {
  display: flex;
  flex-wrap: wrap;
}
.case__image {
  margin-bottom: 50px;
  margin-right: -150px;
  margin-left: -150px;
}
.case__header {
  width: 50%;
  font-family: $sans-serif;
}
.case__title {
  font-size: 3rem;
  margin: 0;
}
.case__info {
  color: lighten($text, 10%);
  font-size: 0.9rem;
}
.case__text {
  width: 50%;
  margin: 0;
}
