.inner {
  max-width: 700px;
  margin: 0 auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.grid--align-center {
  align-items: center;
}
.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 33.33%;
}
.col-4 {
  width: 25%;
}
.col-auto {
  flex-grow: 1;
}
