.logo {
  padding: 80px 70px;
}
.logo__title {
  font-family: $sans-serif;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.logo__link {
  color: white;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  text-decoration: none;
}
