.main-menu {
  padding: 70px 80px;
  text-align: right;
}
.main-menu__link {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
