// Fonts
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Asap:400,700');
$serif: 'Arvo';
$sans-serif: 'Asap';

// Colors
$main: #5CCACB;
$text: #4B4B4B;

// Space
$space-xs: 5px;
$space-s: 10px;
$space-m: 20px;
$space-l: 40px;
$space-xl: 80px;
