.space--top-s {
	margin-top: $space-s;
}
.space--top-m {
	margin-top: $space-m;
}
.space--top-l {
	margin-top: $space-l;
}
.space--top-xl {
	margin-top: $space-xl;
}
.space--right-s {
	margin-right: $space-s;
}
.space--right-m {
	margin-right: $space-m;
}
.space--right-l {
	margin-right: $space-l;
}
.space--right-xl {
	margin-right: $space-xl;
}
.space--bottom-s {
	margin-bottom: $space-s;
}
.space--bottom-m {
	margin-bottom: $space-m;
}
.space--bottom-l {
	margin-bottom: $space-l;
}
.space--bottom-xl {
	margin-bottom: $space-xl;
}
.space--left-s {
	margin-left: $space-s;
}
.space--left-m {
	margin-left: $space-m;
}
.space--left-l {
	margin-left: $space-l;
}
.space--left-xl {
	margin-left: $space-xl;
}
