.splash {
  text-align: center;
}
.splash__text {
  font-size: 3rem;
  font-weight: bold;
  font-family: $sans-serif;
  padding: 0;
  margin: 0;
}
.splash__link {
  text-decoration: none;
  opacity: 0.85;
  transition: ease all 0.2s;
}
.splash__link:hover {
  opacity: 1;
  transition: ease all 0.2s;
}
.splash__get-it {
  width: 153px;
  margin: 0 10px;
  border: none;
}
